[submodule "mongofulltextsearch/javascript"]
	path = mongosearch/javascript
	url = git@github.com:glamkit/mongo-search.git
[submodule "mongosearch/javascript"]
	path = mongosearch/javascript
	url = git@github.com:glamkit/mongo-search.git
